{% extends "_layouts/cp" %}
{% set title = "MultiSafepay Support"|t('multisafepay') %}

{% set selectedSubnavItem = 'support'|t('multisafepay') %}

{% block content %}

    <div id="multisafepay-support" class="multisafepay-support-information">
        <h2 id="multisafepay-title">{{ 'Documentation'|t('multisafepay') }}</h2>
        <p>{{ 'Read our documentation for more information about MultiSafepay and how to get started'|t('multisafepay') }}:</p>
        <ul class="multisafepay-ul multisafepay-lh">
            <li>
                <a href="https://docs.multisafepay.com/integrations/plugins/craftcommerce/#manual" target="_blank">
                    {{ 'Manual'|t('multisafepay') }}
                </a>
            </li>
            <li>
                <a href="https://github.com/MultiSafepay/craft-commerce/blob/master/CHANGELOG.md" target="_blank">
                    {{ 'Changelog'|t('multisafepay') }}
                </a>
            </li>
            <li>
                <a href="https://docs.multisafepay.com/integrations/plugins/craftcommerce/#FAQ-title" target="_blank">
                    {{ 'FAQ'|t('multisafepay') }}
                </a>
            </li>
        </ul>
        <p>{{ 'For developers'|t('multisafepay') }}:</p>
        <ul class="multisafepay-ul multisafepay-lh">
            <li>
                <a href="https://docs.multisafepay.com/support-tab/api" target="_blank">
                    {{ 'API Documentation'|t('multisafepay') }}
                </a>
            </li>
            <li>
                <a href="https://github.com/MultiSafepay/craft-commerce" target="_blank">
                    {{ 'MultiSafepay Github'|t('multisafepay') }}
                </a>
            </li>
        </ul>
        <h2 id="multisafepay-title">{{ 'Account'|t('multisafepay') }}</h2>
        <p class="multisafepay-lh">
            {{ 'To use this plugin you need a MultiSafepay account'|t('multisafepay') }}.
            <br />
            {{ 'If you would like to have a clear overview of what MultiSafepay has to offer, feel free to create a'|t('multisafepay') }}
            <a href="https://testmerchant.multisafepay.com/signup" target="_blank">
                {{ 'test account'|t('multisafepay') }}
            </a>
            .
        </p>
        <p class="multisafepay-lh" style="padding-top:20px;">
            {{ 'If you would like to set up a live account, please contact the MultiSafepay sales department'|t('multisafepay') }}:
        </p>
        <ul class="multisafepay-ul multisafepay-lh">
            <li>
                {{ 'Telephone'|t('multisafepay') }}:
                <a href="tel:+31208500501">
                    +31 (0)20 - 8500501
                </a>
            </li>
            <li>
                {{ 'E-mail'|t('multisafepay') }}:
                <a href="mailto:sales@multisafepay.com">
                    sales@multisafepay.com
                </a>
            </li>
        </ul>
        <h2 id="multisafepay-title">{{ 'Contact'|t('multisafepay') }}</h2>
        <p class="multisafepay-lh">
            {{ 'Need assistance? Feel free to contact our integration team'|t('multisafepay') }}:
        </p>
        <ul class="multisafepay-ul multisafepay-lh">
            <li>
                {{ 'Telephone'|t('multisafepay') }}:
                <a href="tel:+31208500500">
                    +31 (0)20 - 8500500
                </a>
            </li>
            <li>
                {{ 'E-mail'|t('multisafepay') }}:
                <a href="mailto:integration@multisafepay.com">
                    integration@multisafepay.com
                </a>
            </li>
        </ul>
    </div>

{% endblock %}
